html{
    scroll-behavior: smooth;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Source Serif Pro', serif;
}
.Home{
    background-image: url("img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.Home::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(78, 72, 72, 0.479);
    z-index: -1;
}
.navbar-brand{
    padding: 0px;
    margin-left: 20px;
}
.navbar .nav-link{
    font-size: 14px 18px;
}
.btn{
    border-width: 2px;
}
section{
    padding: 120px;
    padding-bottom: 120px;
}